td {
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: center;
	border: 1px dotted #eee;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000;
}

td.controls {
	border: 0px solid #fff;
}

td.current {
	border: 1px dashed #f00;
}

td.normal {
	border: 1px dotted #eee;
}

td.start {
	border: 1px dashed #0c0;
}